*
{
  margin:0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
body {
  margin: 0; /* Remove default browser margins */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* Define a fallback font stack for browsers that don't support system-ui */
  display: flex; /* Make the body element a flex container */
  flex-wrap: wrap;
  align-items: center; /* Align items vertically in the center of the flex container */
  justify-content: center; /* Align items horizontally in the center of the flex container */
  max-height: auto; /* Make the body element take up the full height of the viewport */
  background: rgb(116, 160, 160);
}
header{
    position: relative;
    background-color: #fff;
    top:0;
    left:0;
    width:100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    transition: 0.6s;
    padding:20px 100px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    width:950px;
    height:100vh;
    background-color:transparent;
    position: relative;

    padding-top: 10px;
}
.topic-1 {
    margin-top:20px;
    position: relative; 
    border-radius: 15px; 
    height: 300px; 
    width: 300px; 
    padding:20px 0;
    display: flex;
    flex-wrap: wrap;
    background:#fff;
    justify-content: center;
    box-shadow: 5px 5px 5px lightblue; 
    overflow: hidden; 
  }
.search-ul
{   padding: 0 30px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right:auto;
}
.topic-1 img{
    width: 250px;
    height:250px;
}
.btn1
{
    width: 70px;
    height:24px;
    background-color: rgb(142, 140, 140);
    color:#fff;
    border:0 solid rgb(142, 140, 140);
    border-radius: 2px;
    font-size:13px;
}
.btn2
{
    width:70px;
    height:24px;
    background-color: rgb(142, 140, 140);
    color:#fff;
    border:0 solid rgb(142, 140, 140);
    border-radius: 2px;
    font-size:13px;
}
.btn3
{
    width:70px;
    height:24px;
    background-color: rgb(142, 140, 140);
    color:#fff;
    border:0 solid rgb(142, 140, 140);
    border-radius: 2px;
    font-size:13px;
}

.btn1:hover,
.btn2:hover,
.btn3:hover
{
    background-color: rgb(53, 55, 160);
}
ul li h2:hover{
    color: rgb(142, 140, 140);
}